.containerNav{
    display: flex;
    justify-content:space-between;
    align-self: center;
    align-items: center;
    height: 10vh;
    width: 105.4%;
    background-color: #041723;
    color:aliceblue;
}

@media screen and (max-width: 800px) {
    .containerNav {
        display: flex;
        justify-content: space-around;
    }
    .containerNav img {
        display: none;
    } 
}